.about {
    min-height:250px;
}

.about-container {
    width: 70%;
}

/* experience */
.experience-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

.card-experience {
    width: 30rem;
    color:#2B314C;
    border-color:#2B314C !important;
}

.card-experience .list-group .list-group-item {
    color: #2B314C;
    border-color:#2B314C !important;
}