.experience-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

.card-experience {
    width: 30rem;
    color:#2B314C;
    border-color:#2B314C !important;
}

.card-experience .list-group .list-group-item {
    color: #2B314C;
    border-color:#2B314C !important;
}

@media screen and (max-width: 510px){
    .card-experience {
        width: 20rem;
    }
}