.projects-cards-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

.card-project {
    width: 20rem;
    border-color:#2B314C !important;
    color:#2B314C !important;
}

.card-project .list-group .list-group-item{
    border-color:#2B314C !important;
    color:#2B314C !important;
}

.btn {
    padding: 0 !important;
}

.card-flex {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 0.5rem;
    padding: 0.5rem;
    color: #2B314C;
}

.card-flex:active {
    color: white;
}

.github-card-flex:active {
    background-color: #2B314C;
}

.youtube-card-flex:active {
    background-color: #FF0000;
}

.doc-card-flex:active {
    background-color: #ef5b25;
}

.game-card-flex:active {
    background-color: #1bab30;
}

.docs:link .docs:visited, .docs:active {
    color:#4689e6 !important;
}